.estudiante-container {
  margin: 1rem;
}

.estudiante-header {
  background-color: white;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo {
  height: 65px;
  width: auto;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.dashboard-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  color: #1a1a1a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.welcome-text {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.2rem 0 0;
  color: #555;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-right {
  display: flex;
  align-items: center;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 40px;
  padding: 0 1.2rem;
  background-color: #581517;
  color: white;
  border: none;
  border-radius: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #722022;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-estudiante {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.nav-list-estudiante {
  display: flex;
  gap: 130px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-item-estudiante {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #333;
  gap: 0.9rem;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.nav-item-estudiante:hover {
  background-color: #581517;
  color: white;
  transform: translateX(5px);
}
